.button {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: black;
  transition: 1s ease;
}

.button::before {
  top: -2em;
  left: -2em;
}

.button::after {
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: #fff;
}

.button:active {
  filter: brightness(0.8);
}
