@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

/* popup styles */
.my-popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 100%;
  /* padding: 5px; */
  outline: 1px solid red;
}
.my-popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].my-popup-content {
  width: 200px;
  outline: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.my-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].my-popup-overlay {
  background: transparent;
}
